@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Ubuntu+Mono:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap');


*{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 450px;
}

.buttons{
    align-self: flex-start;
    display: flex;
    gap: 20px;
}

.googleBtn{
    background-color: rgb(26,115,233);
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.googleBtn:hover{
    opacity: 0.6;
}

.googleBtn picture{
    width: 36px;
    background-color: white;
    height: 36px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.googleBtn picture img{
    width: 75%;
}

.googleBtn span{
    color: white;
    font-weight: 500;
    padding: 15px;
}



.twitterBtn{
    color: #bbb;
    background-color: #eee;
    border: none;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.twitterBtn:hover{
    background-color: #ddd;
}

.separator{
    display: flex;
    width: 100%;
    gap: 15px;
}

.separator hr{
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.separator span{
    color: #b8b8b8;
}

.sectionInputs{
    display: flex;
    gap: 10px;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
}

label{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

label span{
    font-weight: 700;
}

.sectionInputs label input{
    width: 80%;
    background-color: #f3f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
}

label input{
    width: 80%;
    background-color: #f3f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}



label input:hover{
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4f;
}

label input:focus{
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4f;
}

.checkboxLabel{
    display: flex;
    flex-direction: row;
}

.checkboxLabel input[type="checkbox"]{
    width: 20px;
}

.checkboxLabel span{
    font-weight: 400;
}

.submitBtn{
    background-color: #ea4c89;
    color: white;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submitBtn:hover{
    opacity: 0.75%;
}
