body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}

.btn-modern{
    background-color: darkblue;
    color: cornsilk;
    border: none;
    border-radius: 5px;
    pad: 10px 15px;
    border-bottom: 2px solid blue;
    transition: all 2s;
}

.btn-modern:hover{
    transition: 2s translateY(5px) ;
    box-shadow: 2px solid grey;
    background-color: cyan;
    color: black;

}